<md-content layout="column">
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">Proposal Demo <span flex></span><small>(current/required) support</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span layout="row">Logged in as:<span flex></span><small>{{currentAccount}}</small></span>
            </md-card-content>
        </md-card>
    </div>
        
    <md-divider></md-divider>
    
    <md-list>
        <md-subheader class="md-no-sticky">Proposal Details</md-subheader>
        <md-list-item class="secondary-button-padding">
            <p>Status</p>
            <p class="md-secondary">
                <span ng-show="proposal.passed">Passed</span>
                <span ng-show="proposal.rejected">Rejected</span>
                <span ng-show="proposal.rejected == proposal.passed">Ongoing</span>
            </p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p>Votes</p>
            <p class="md-secondary">{{proposal.support}}/{{totalLocked}} locked</p>
        </md-list-item>
    </md-list>
    
    <md-divider></md-divider>
    
    <div layout="row">
        <div layout="column">
            <md-button class="md-raised" ng-click="vote(false)" ng-disabled="proposal.passed" flex>no</md-button>
        </div>
        <div flex>
            <md-card>
                <md-card-content style="padding-bottom:0px !important; padding-top:25px;" layout="row">
                    <md-slider-container flex>
                        <md-slider ng-model="support" aria-label="Proposal {{id}} Percent Support" flex md-discrete ng-readonly="true" ng-disabled="true"></md-slider>
                    </md-slider-container>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column">
            <md-button class="md-raised" ng-click="vote(true)" ng-disabled="proposal.passed" flex>yes</md-button>
        </div>
        <div ng-show="true" layout="column">
            <md-button class="md-raised" ng-click="pass()" ng-hide ng-show="curator == currentAccount" ng-disabled="proposal.support_percent < majorityPercent" flex>Pass</md-button>
        </div>
    </div>
    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row">Proposal#{{id}} - {{proposal.title}}<span flex></span>{{proposal.action}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{proposal.description}}
            </md-card-content>
        </md-card>
    </div>
</md-content>
<footer></footer>