<md-content layout="column">
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">Proposal Demo <span flex></span><small>(current/required) support</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span layout="row">Logged in as:<span flex></span><small>{{currentAccount}}</small></span>
            </md-card-content>
        </md-card>
    </div>
        
    <md-divider></md-divider>
    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">Proposal Title Here<span flex></span><small>#0001</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{markdown}}
            </md-card-content>
        </md-card>
    </div>
</md-content>
<footer></footer>