<md-content layout="column">    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">My Votes Demo<span flex></span><small>0 {{my_votes}} votes</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span layout="row">Logged in as:<span flex></span><small>{{currentAccount}}</small></span>
            </md-card-content>
        </md-card>
    </div>
        
    <md-divider></md-divider>
    
    <md-list>
        <md-subheader class="md-no-sticky">*Tip: your votes are in <b>bold</b></md-subheader>
    </md-list>
        
    <md-divider></md-divider>

    <div>
        <md-card ng-click="goto('proposal/0001')"  style="cursor: pointer; cursor: hand;">
            <md-card-title>
                <md-card-title-text>
                    <span><b>Proposal#0001</b> &nbsp A Proposal To Set A New Matriarch Controller To Enable New Features</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="padding-bottom:0px !important; padding-top:5px;" layout="row">
                <b>yes</b>
                <md-slider-container flex>
                    <md-slider ng-model="proposal1Percent" aria-label="Proposal 1 Percent Support" flex md-discrete ng-readonly="true" ng-disabled="true"></md-slider>
                </md-slider-container>
                no
            </md-card-content>
        </md-card>
        <md-card ng-click="goto('proposal/0002')"  style="cursor: pointer; cursor: hand;">
            <md-card-title>
                <md-card-title-text>
                    <span><b>Proposal#0002</b> &nbsp A Proposal To Start A New Project</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="padding-bottom:0px !important; padding-top:5px;" layout="row">
                yes
                <md-slider-container flex>
                    <md-slider ng-model="proposal2Percent" aria-label="Proposal 2 Percent Support" flex md-discrete ng-readonly="true" ng-disabled="true"></md-slider>
                </md-slider-container>
                <b>no</b>
            </md-card-content>
        </md-card>
        <md-card ng-click="goto('proposal/0003')" style="cursor: pointer; cursor: hand;">
            <md-card-title>
                <md-card-title-text>
                    <span><b>Proposal#0003</b> &nbsp A Proposal To Increase The Max Token Supply By 1000 Arc To Fund A Project</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="padding-bottom:0px !important; padding-top:5px;" layout="row">
                yes
                <md-slider-container flex>
                    <md-slider ng-model="proposal3Percent" aria-label="Proposal 3 Percent Support" flex md-discrete ng-readonly="true" ng-disabled="true"></md-slider>
                </md-slider-container>
                <b>no</b>
            </md-card-content>
        </md-card>
    </div>
    </div>
</md-content>
<div style="padding:10px;" layout layout-align="center center">
    <a href="https://github.com/ChicoBitcoinJoe/Matriarch">
        <h5 style="margin:0px;">Matriarch created by ChicoBitcoinJoe</h5>
    </a>
</div>