<md-content layout="column" layout-padding="5" flex>
    <div>
        <md-card layout="row">
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">My Votes <span flex></span><small>{{currentAccount}}</small></span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>

    <md-divider></md-divider>
    
    <md-list>
        <md-subheader class="md-no-sticky">Information</md-subheader>
        <md-list-item class="secondary-button-padding">
            <p>Total Votes</p>
            <p class="md-secondary">0</p>
        </md-list-item>
    </md-list>
        
    <md-divider></md-divider>
    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Votes</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item class="secondary-button-padding">
                        <p>Vote 1</p>
                        <p class="md-secondary">info</p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding">
                        <p>Vote 2</p>
                        <p class="md-secondary">info</p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding">
                        <p>Vote 3</p>
                        <p class="md-secondary">info</p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding">
                        <p>Vote 4</p>
                        <p class="md-secondary">info</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<div style="padding:10px;" layout layout-align="center center">
    <a href="#home">
        <h5 style="margin:0px;">Matriarch created by ChicoBitcoinJoe</h5>
    </a>
</div>