<div layout="column">
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" layout-align="center center"><span class="md-headline">Welcome to Matriarch</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>An ethereum node running <b>Ropsten Testnet</b> is required for Matriarch to work properly. An IPFS node is needed if you want to be able to submit proposals or a description for your MeDao. Some features are in progress such as passing a proposal.</p>
                <md-divider></md-divider>
                <p>Matriarch is a platform for creating a 'MeDao'. MeDaos are a tool for investing in people rather than the traditional route of investing in a business. MeDao's can start as a centrally issued token and with the flip of a switch be turned into a fully functioning decentralized autonomous organization.</p>
                <p>The token will be implemented using the ERC-20 compatible MiniMe Token (MMT). The MMT comes with an incredible feature not found in the standard erc-20 token specification... Cloning! Anyone can take the address of any 'parent' MMT and create a clone of the  parent. Additionally, this cloning process can be done at any block height in the past. An consequence of this feature is of course new business models not previously possible before.</p>
                <md-divider></md-divider>
                <p>What might these business models look like in the real world?</p>
                <p>There is a talented musician named Michael who is looking for ways to fund his career. He finds a platform that allows him to accept money directly to improve his career as he sees fit. He is given access to ideas from funders and can even submit his own proposals to investor to gauge their opinion. The 'weight' of each voters opinion is proportional to the amount of tokens each voter holds. Michael pledges to his holders: A clone of his own token will be created on the release day of every single and profit collected from sales is sent to the holders of the cloned token. Holding Michael's tokens gaurantees holders the revenue from any clones created in the future. Finally, holders have a vested interest in offering help to Michael and his career even if only to increase the the value of their own tokens.</p>
                <md-divider></md-divider>
                <p>This basic idea can be applied to so many areas I hope you have fun thinking of some.</p>
            </md-card-content>
        </md-card>
    </div>
</div>
