<div layout="column" layout-padding="5">    
    <div>
        <div>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span layout="row" class="md-headline">{{name | capitalize}} Congress<span flex></span><small>{{tokenBalance}} {{symbol}} owned</small></span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <md-divider></md-divider>

        <md-list>
            <md-list-item class="secondary-button-padding">
                <p>Curator</p>
                <p class="md-secondary">{{curator}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>Majority Percent</p>
                <p class="md-secondary">{{majorityPercent}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>Current Tokens Supply</p>
                <p class="md-secondary">{{currentTokenSupply}} {{symbol}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>Current Tokens Locked</p>
                <p class="md-secondary">{{totalLocked}} {{symbol}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>Total Proposals</p>
                <p class="md-secondary">{{total_proposals}}</p>
            </md-list-item>
        </md-list>

        <md-divider></md-divider>

        <div layout="row">
            <md-button ng-disabled="true">View:</md-button>
            <md-button ng-click="goto('medao/' + currentAccount)">MeDao</md-button>
            <md-button ng-click="goto('medao/' + currentAccount + '/finance')">Finances</md-button>
        </div>

        <md-divider></md-divider>

        <div>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row">
                            <h3>Proposals</h3>
                            <span flex></span>
                            <md-button ng-hide="show" class="md-raised" ng-click="show = !show">create</md-button>
                            <md-button ng-show="show" class="md-raised" ng-click="show = !show">close</md-button>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content ng-show="show" layout="column">
                    <div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Action</label>
                            <md-select ng-model="proposal.action">
                                <md-option ng-repeat="option in options" value="{{option}}">{{option}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-hide="proposal.action == null">
                        <md-input-container ng-show="proposal.action == 'updateMatriarch' || proposal.action == 'generateTokens'" class="md-block">
                            <label>Address</label>
                            <input ng-model="proposal.address">
                        </md-input-container>
                    </div>
                    <div ng-hide="proposal.action == null">
                        <md-input-container ng-show="proposal.action == 'generateTokens'" class="md-block">
                            <label>Amount</label>
                            <input ng-model="proposal.amount">
                        </md-input-container>
                    </div>
                    <div ng-hide="proposal.action == null">
                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-model="proposal.title">
                        </md-input-container>
                    </div>
                    <div ng-hide="proposal.action == null">
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="proposal.description" md-maxlength="150000" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                    <div ng-hide="proposal.action == null || proposal.title == null || proposal.description == null" layout="row">
                        <span flex></span>
                        <md-button ng-click="submitProposal(); submitText='Submitting...'" ng-disabled="disabled">{{submitText}}</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div ng-show="show && proposal.action" layout="column">
            <md-card>
                <md-card-content>
                    <p layout="row">Proposal#{{total_proposals}}<span flex></span>{{proposal.action}}</p>
                    <span layout="row">{{proposal.address}}<span flex></span>{{proposal.amount}}</span></h5>
                    <h3 layout="row">{{proposal.title}}</h3>
                    <div>
                        <div ng-bind-html="description.marked"></div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div ng-repeat="proposal_id in proposals.ids">
            <div>
                <proposal id="proposal_id"></proposal>
            </div>
        </div>
    </div>
</div>