<div layout="column" layout-padding="5">    
    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">{{name | capitalize}} Congress<span flex></span><small>{{tokenBalance}} {{symbol}} owned</small></span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    
    <md-divider></md-divider>
    
    <md-list>
        <md-list-item class="secondary-button-padding">
            <p>Curator</p>
            <p class="md-secondary">{{curator}}</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p>Majority Percent</p>
            <p class="md-secondary">{{majorityPercent}}</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p>Current Tokens Supply</p>
            <p class="md-secondary">{{currentTokenSupply}} {{symbol}}</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p>Current Tokens Locked <small>({{percentCurrentSupply}}% of current supply)</small></p>
            <p class="md-secondary">{{totalLocked}} {{symbol}}</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p>Total Proposals</p>
            <p class="md-secondary">{{total_proposals}}</p>
        </md-list-item>
    </md-list>
    
    <md-divider></md-divider>
    
    <div layout="row"><span flex></span><md-button ng-click="goto('medao/' + currentAccount + '/submit')">Submit New Proposal</md-button></div>
    
    <md-divider></md-divider>
    
    <div ng-repeat="proposal_id in proposals.ids">
        <div>
            <proposal id="proposal_id"></proposal>
        </div>
    </div>
</div>