<md-content layout="column">    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">Proposals Demo <span flex></span><small>{{totalLocked}} {{symbol}} locked over {{total_proposals}} proposals</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span layout="row">Logged in as:<span flex></span><small>{{currentAccount}}</small></span>
            </md-card-content>
        </md-card>
    </div>
    
    <md-divider></md-divider>
    
    <md-list>
        <md-subheader class="md-no-sticky">Congress Details</md-subheader>
        <md-list-item class="secondary-button-padding">
            <p>Curator</p>
            <p class="md-secondary">{{curator}}</p>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
            <p>Majority Percent</p>
            <p class="md-secondary">{{majorityPercent}}</p>
        </md-list-item>
    </md-list>
    
    <md-divider></md-divider>
    
    <md-list>
        <md-subheader class="md-no-sticky">
            <span layout="row"><b>Proposal#_ID_</b> &nbsp&nbsp Proposal Title<span flex></span><b>Action</b></span>
        </md-subheader>
    </md-list>
    
    <div>
        <md-card ng-repeat="proposal in proposals.id" ng-click="goto('proposal/' + proposal.id)" style="cursor: pointer; cursor: hand;">
            <md-card-title>
                <md-card-title-text>
                    <span layout="row">Proposal#{{proposal.id}} - {{proposal.description}}<span flex></span>{{proposal.action}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content style="padding-bottom:0px !important; padding-top:5px;" layout="row">
                <md-button ng-disabled="true">against</md-button>&nbsp&nbsp&nbsp
                <md-slider-container flex>
                    <md-slider ng-model="support" aria-label="Proposal Percent Support" flex md-discrete ng-readonly="true" ng-disabled="true"></md-slider>
                </md-slider-container>
                &nbsp&nbsp&nbsp<md-button ng-disabled="true">support</md-button>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<footer></footer>