<md-content layout="column">    
    <div>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" class="md-headline">My Proposals<span flex></span><small>Total Proposals: {{total_proposals}}</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <span layout="row">Logged in as:<span flex></span><small>{{currentAccount}}</small></span>
            </md-card-content>
        </md-card>
    </div>
    
</md-content>
<footer></footer>