<div layout="column" layout-padding="5">
    <div>
        <div>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span layout="row" class="md-headline">{{name | capitalize}}<span flex></span><small>({{symbol}})</small></span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <md-divider></md-divider>

        <md-list>
            <md-list-item class="secondary-button-padding">
                <p>ceo</p>
                <p class="md-secondary">{{currentAccount}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>curator</p>
                <p class="md-secondary">{{curator}}</p>
            </md-list-item>
        </md-list>

        <md-divider></md-divider>
    
        <div layout="row">
            <md-button ng-disabled="true">View:</md-button>
            <md-button ng-click="goto('medao/' + currentAccount + '/finance')">Finances</md-button>
            <md-button ng-click="goto('medao/' + currentAccount + '/congress')">Congress</md-button>
            <div ng-show="currentAccount == loggedInAccount" layout="row" flex>
                <span flex></span>
                <md-button ng-disabled="true">Admin:</md-button>
                <md-button ng-click="editDescription = !editDescription">Update Description</md-button>
            </div>
        </div>
    
        <md-divider></md-divider>
        
        <div ng-show="editDescription" layout="row">
            <div flex>
                <md-card>
                    <md-card-content layout="column">
                        <md-input-container class="md-block">
                          <label>New Description</label>
                          <textarea ng-model="newDescription.text" md-maxlength="150000" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-button ng-click="setDescription()">Set Description</md-button>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        
        <md-divider ng-show="editDescription" ></md-divider>
        
        <div ng-show="editDescription" layout="row">
            <div flex>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" layout="row">Description</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column">
                        <div ng-bind-html="newDescription.marked"></div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        
        <div ng-hide="editDescription" layout="row">
            <div flex>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" layout="row">Description</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column">
                        <div ng-bind-html="description"></div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
