<md-content layout="column">
    <div ng-show="!created">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span layout="row" layout-align="center center"><span class="md-headline">Create Your MeDao</span><span flex></span><small style="color:red">*Note: During the deploy process it will ask you to approve around six transactions but none will send ether</small></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <md-input-container flex>
                        <label>Token Name</label>
                        <input ng-model="minimetoken.tokenName">
                    </md-input-container>
                    <md-divider style="margin:15px;"></md-divider>
                    <md-input-container>
                        <label>Token Symbol</label>
                        <input ng-model="minimetoken.tokenSymbol" md-maxlength="3">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container>
                        <md-switch class="md-primary" ng-disabled="true">show advanced options</md-switch>
                    </md-input-container>
                    <span flex></span>
                    <md-button ng-click="deployMMT()">Deploy MeDao</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <md-divider ng-show="!created" style="height:50px;"></md-divider>
    
    <div ng-hide="hidden">
        <div>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span layout="row" class="md-headline">{{name | capitalize}}<span flex></span><small>{{currentTokenSupply}}/{{maxTokenSupply}} {{symbol}}</small></span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>

        <md-divider></md-divider>

        <md-list>
            <md-subheader class="md-no-sticky">{{name | capitalize}} Details</md-subheader>
            <md-list-item class="secondary-button-padding">
                <p>ceo</p>
                <p class="md-secondary">{{ceo}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>vault</p>
                <p class="md-secondary">{{vault}}</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding">
                <p>curator</p>
                <p class="md-secondary">{{curator}}</p>
            </md-list-item>
        </md-list>

        <md-divider></md-divider>

        <div layout="row">
            <md-card ng-if="maxTokenSupply > currentTokenSupply" flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" layout="row"> Initial Coin Offering (ICO) </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <p>{{name | capitalize}} has a maximum supply of {{maxTokenSupply}} {{symbol}} and can be divided down to {{decimals}} decimal places. Users can choose to lock {{symbol}} in return for the ability to vote on proposals. A voters weight is directly proportional to their {{symbol}} balance. <small><a style="color:blue" href="https://github.com/ChicoBitcoinJoe/Matriarch"> learn more </a></small></p>
                    <span layout layout-align="center" flex><small>1 ether = 1 {{symbol}}</small></span>
                    <span layout="row">
                        <md-input-container class="skinny-container" flex>
                            <label>Amount</label>
                            <input ng-model="actions.buy.ico">
                        </md-input-container>
                        <p layout="column">
                            <span flex></span>
                            &nbsp{{symbol}}
                        </p>   
                    </span>
                    <span layout="row">
                        <md-button flex ng-click="actions.buy.ico = actions.buy.max">max</md-button>
                        <md-button flex ng-click="buyICOTokens(actions.buy.ico)">Buy</md-button>
                    </span>
                </md-card-content>
            </md-card>

            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Transfer {{symbol | capitalize}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <md-input-container class="skinny-container">
                        <label>To</label>
                        <input type="text" placeholder="0x1a4k..." ng-model="actions.transfer.to">
                    </md-input-container>
                    <span layout="row">
                        <md-input-container class="skinny-container" flex>
                            <label>Amount</label>
                            <input ng-model="actions.transfer.amount">
                        </md-input-container>
                        <p>
                            {{symbol}}
                        </p>
                    </span>
                    <span layout="row">
                        <md-button flex ng-click="actions.transfer.amount = actions.sell.max">max</md-button>
                        <md-button flex ng-click="transfer(actions.transfer.to, actions.transfer.amount)" ng-disabled="{{transfersAllowed}}">Transfer</md-button>
                    </span>
                </md-card-content>
            </md-card>
        </div>
        
        <md-divider></md-divider>
        
        <div id="trade" layout="row">
            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Buy {{symbol | capitalize}} <span flex></span><small>(demo )</small></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <span layout="row">
                        <md-input-container class="skinny-container" flex>
                            <label>Amount</label>
                            <input ng-model="actions.buy.token">
                        </md-input-container>
                        <div>
                            eth
                        </div>
                    </span>
                    <span layout="row">
                        <span flex></span>
                        <span>
                            <small>
                                The best buy price available is (2.00 arc/eth) with 
                                <span style="color:blue; cursor: pointer; cursor: hand;" ng-click="actions.buy.token = 1"> 1 {{symbol}} </span> 
                                available
                            </small>
                        </span>
                    </span>
                    <span ng-show="actions.buy.token > 0" layout="row">
                        <span flex></span>
                        <span>
                            <small>
                                {{actions.buy.token}} ether will buy a total of 
                                <span ng-show="actions.buy.token <= 1">
                                    {{actions.buy.token * 2}} {{symbol}}
                                    (2 arc/eth)
                                </span>
                                <span ng-show="actions.buy.token > 1">
                                    {{(actions.buy.token*1 + 1)}} {{symbol}}
                                    ({{ (action.buy.token + 1)/actions.buy.token + 1}} arc/eth)
                                </span>
                            </small>
                        </span>
                    </span>
                    <span layout="row">
                        <md-button flex ng-click="actions.buy.token = actions.buy.max">max</md-button>
                        <md-button flex ng-disabled="true">Buy</md-button>
                    </span>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Sell {{symbol | capitalize}} <span flex></span><small>(demo)</small></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <span layout="row">
                        <md-input-container class="skinny-container" flex>
                            <label>Amount</label>
                            <input ng-model="actions.sell.token">
                        </md-input-container>
                        <p layout="column">
                            <span flex></span>
                            Ether
                        </p>
                    </span>
                    <span layout="row">
                        <span flex></span>
                        <span>
                            <small>
                                The best sell price available is (1.95 arc/eth) with 
                                <span style="color:blue; cursor: pointer; cursor: hand;" ng-click="actions.sell.token = 0.25"> 0.25 Ether </span> 
                                worth available
                            </small>
                        </span>
                    </span>
                    <span ng-show="actions.sell.token > 0" layout="row">
                        <span flex></span>
                        <span>
                            <small>
                                <span ng-show="actions.sell.token <= 0.25">
                                {{actions.sell.token}} {{symbol}} will sell for a total of 
                                    {{actions.sell.token / 1.95}} ether
                                    (1.95 arc/eth)
                                </span>
                                <span style="color:red" ng-show="actions.sell.token > 0.25">
                                    *Unfortunately there are not enough buyers to sell {{actions.sell.token}} {{symbol}}!
                                </span>
                            </small>
                        </span>
                    </span>
                    <span layout="row">
                        <md-button flex ng-click="actions.sell.token = actions.sell.max">max</md-button>
                        <md-button flex ng-disabled="true">Sell</md-button>
                    </span>
                </md-card-content>
            </md-card>
        </div>
        
    <md-divider></md-divider>
    
    <md-list layout="row">
        <md-subheader class="md-no-sticky">Submit New Proposal</md-subheader>
        <span flex></span>
        <md-button ng-click="submitProposal()">Submit</md-button>&nbsp
    </md-list>
    
    <md-divider></md-divider>
    
    <div layout="row">
        <md-card flex>
            <md-card-content>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Action</label>
                    <md-select ng-model="proposal.action">
                        <md-option ng-repeat="option in options" value="{{option}}">{{option}}</md-option>
                    </md-select>
                </md-input-container>
                
                <md-input-container ng-show="proposal.action == 'updateMatriarch' || proposal.action == 'generateTokens'" class="md-block">
                    <label>Address</label>
                    <input ng-model="proposal.address">
                </md-input-container>
                
                <md-input-container ng-show="proposal.action == 'generateTokens'" class="md-block">
                    <label>Amount</label>
                    <input ng-model="proposal.amount">
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Title</label>
                    <input ng-model="proposal.title">
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="proposal.description" md-maxlength="150000" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h4 layout="row">Proposal#{{total_proposals}}<span flex></span>{{proposal.action}}</h4>
                <span layout="row">{{proposal.address}}<span flex></span>{{proposal.amount}}</span></h5>
                <h5 layout="row">{{proposal.title}}</h5>
                <div>
                    {{proposal.description}}
                </div>
            </md-card-content>
        </md-card>
    </div>
    </div>
</md-content>
<footer></footer>
